.content {
  border: 0;
  padding: 0;
  width: 900px;
  margin: 0 auto;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 30vh;
}

h2 {
  font-size: 60px;
  padding: 8px 10px;
  border-radius: 10px;
}

p {
  font-size: 20px;
  padding: 10px 15px;
}

.parallax1 {
  background: url(/imgs/html.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax2 {
  background: url(/imgs/css.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax3 {
  background: url(/imgs/python.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
